# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/

# Xcode project metadata (можно игнорировать)
*.xcodeproj/
*.xcworkspace/

# Swift Package Manager
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Archive / binaries
*.ipa
*.dSYM
*.dSYM.zip

# Logs
*.log
